HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Node.js 및 React
node_modules/
**/node_modules/

# React 빌드 결과물 예외 처리
!src/main/frontend/build/

# Gradle Wrapper 예외 처리
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# Maven
/target/

# Gradle
/.gradle
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# 기타 빌드 출력 디렉토리
/joongo/out/
