<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbproject.joongo.mapper.UserMapper">

    <!-- 사용자 추가 -->
    <insert id="insertUser" parameterType="com.dbproject.joongo.domain.User">
        INSERT INTO USERS (user_name, nickname, user_password, email, tel_1, tel_2, location)
        VALUES (#{userName}, #{nickname}, #{userPassword}, #{email}, #{tel_1}, #{tel_2}, #{location});
    </insert>



    <!-- 사용자 조회 (ID) -->
    <select id="selectUserById" parameterType="int" resultType="com.dbproject.joongo.domain.User">
        SELECT * FROM USERS WHERE user_id = #{userId}
    </select>

    <!-- 모든 사용자 조회 -->
    <select id="selectAllUsers" resultType="com.dbproject.joongo.domain.User">
        SELECT * FROM USERS
    </select>

    <!-- 사용자 수정 -->
    <update id="updateUser" parameterType="com.dbproject.joongo.domain.User">
        UPDATE USERS
        SET user_name = #{userName},
            nickname = #{nickname},
            user_password = #{userPassword},
            email = #{email},
            tel_1 = #{tel_1},
            tel_2 = #{tel_2},
            location = #{location},
            user_role = #{userRole},
            user_status = #{userStatus},
            money = #{money}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 삭제 -->
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM USERS WHERE user_id = #{userId}
    </delete>


    <select id="selectUserByEmail" parameterType="String" resultType="com.dbproject.joongo.domain.User">
        SELECT * FROM USERS WHERE email = #{email}
    </select>

</mapper>
