<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbProject.joongo.mapper.ProductMapper">

    <!--상품 생성  -->
    <insert id="saveProduct" parameterType="com.dbProject.joongo.domain.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO PRODUCT (user_id, title, content, image, price, product_status, location, category_id, count, created_at, updated_at)
        VALUES (#{userId}, #{title}, #{content}, #{image}, #{price}, #{productStatus}, #{location}, #{categoryId}, #{count}, NOW(), NOW());
    </insert>

    <!--모든 상품 조회-->
    <select id="findAll" resultType="com.dbProject.joongo.domain.User">
        SELECT *
        FROM POSTS
        WHERE user_id = #{userId}
    </select>

    <!-- 모든 사용자 조회 -->
    <select id="selectAllUsers" resultType="com.dbProject.joongo.domain.User">
        SELECT * FROM USERS
    </select>

    <!-- 사용자 수정 -->
    <update id="updateUser" parameterType="com.dbProject.joongo.domain.User">
        UPDATE USERS
        SET user_name = #{userName},
            nickname = #{nickname},
            user_password = #{userPassword},
            email = #{email},
            tel_1 = #{tel_1},
            tel_2 = #{tel_2},
            location = #{location},
            user_role = #{userRole},
            user_status = #{userStatus},
            money = #{money}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 삭제 -->
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM USERS WHERE user_id = #{userId}
    </delete>


    <select id="selectUserByEmail" parameterType="String" resultType="com.dbProject.joongo.domain.User">
        SELECT * FROM USERS WHERE email = #{email}
    </select>

    <select id="selectUserByEmailAndPassword" parameterType="map" resultType="com.dbProject.joongo.domain.User">
        SELECT *
        FROM USERS
        WHERE email = #{email} AND user_password = #{userPassword}
    </select>


</mapper>
