<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbProject.joongo.mapper.ProductMapper">

    <!--상품 생성  -->
    <insert id="insertProduct" parameterType="com.dbProject.joongo.domain.Product" useGeneratedKeys="true"
            keyProperty="productId">
        INSERT INTO PRODUCTS (user_id, title, content, image, price, product_status, location, category_id, count,
                              created_at, updated_at)
        VALUES (#{userId}, #{title}, #{content}, #{image}, #{price}, #{productStatus}, #{location}, #{categoryId},
                #{count}, NOW(), NOW());
    </insert>

    <!--단일 상품 조회-->
    <select id="findById" resultType="com.dbProject.joongo.domain.Product">
        SELECT *
        FROM PRODUCTS
        WHERE product_id = #{productId}
    </select>

    <!--모든 상품 조회-->
    <select id="findAll" resultType="com.dbProject.joongo.domain.Product">
        SELECT *
        FROM PRODUCTS
    </select>

    <!--모든 상품 조회-->
    <select id="findUserIdById" resultType="com.dbProject.joongo.domain.Product">
        SELECT user_id
        FROM PRODUCTS
        WHERE product_id = #{productId}
    </select>

    <!--카테고리 별 상품 조회 -->
    <select id="findAllByCategoryId" resultType="com.dbProject.joongo.domain.Product">
        SELECT *
        FROM PRODUCTS
        WHERE category_id = #{categoryId}
    </select>

    <update id="updateProduct" parameterType="com.dbProject.joongo.domain.Product">
        UPDATE PRODUCTS
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="price != null">price = #{price},</if>
            <if test="productStatus != null">product_status = #{productStatus},</if>
            <if test="location != null">location = #{location},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="count != null">count = #{count},</if>
            updated_at = NOW() <!-- 고정 필드를 SET 블록 안으로 이동 -->
        </set>
        WHERE product_id = #{productId}
    </update>


    <!-- 상품 삭제 -->
    <delete id="deleteProductById" parameterType="int">
        DELETE
        FROM PRODUCTS
        WHERE product_id = #{productId}
    </delete>

</mapper>
